<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/studentbase</property>
    <property name="hibernate.connection.username">goodman</property>
    <property name="hibernate.connection.password">1975</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.debug">false</property>

    <mapping class="com.i2i.sms.models.Student"/>
    <mapping class="com.i2i.sms.models.Group"/>
    <mapping class="com.i2i.sms.models.Teacher"/>
    <mapping class="com.i2i.sms.models.Cabin"/>
  </session-factory>
</hibernate-configuration>